@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1d2c48;
  --secondary: #ffffff;
  --accent: #c19d55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-sans {
  font-family: var(--font-sans);
}
